*{
    margin: 0%;
    padding: 0%;
}
body{
    height: fit-content;
    overflow-x: hidden;
}

/*============Header===============*/
.my-name{
    border: 2px solid black;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    margin-left: 300px;
    margin-right: 350px;
}
.fa-heart{
    margin: 0 20px;
    color: grey;
}
.fa-user{
    color: grey;
}
.fa-shopping-cart{
    color: grey;
}
.fa-user:hover{
    color: black;
}
.fa-shopping-cart:hover{
    color: black;
}
.fa-heart:hover{
    color: black;
}
.two{
    border-radius: 50%;
    background-color: #7971ea;
    width:20px;
    height: 20px;
    position: absolute;
    top: 40px;
    color: white;
}
/*============End Header===============*/
/*==============Navbar============*/
.nav-link{
    color: black;
    font-size: 14px;
}
.nav-link:hover{
    color:#7971ea;
}
.navbar-nav{
    margin: auto;
    width: 400px;
}

/*==============EndNavbar============*/
/*==============Section2============*/
.backround-grey{
    background-color: rgb(235, 235, 235);
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 50px;
}

.line{
    border: 1 solid purple ;
    background-color: purple;
    width: 40px;
    height: 3px;
    margin: auto;
}
h3{
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 40px;
}
h5{
    color: purple;
    text-align: center;
}
.number{
    border: 1px solid;
    width: fit-content;
    height: fit-content;
    margin-bottom: 20px;
}
.input{
    height: 40px;
}
.sign:hover{
    background-color: rebeccapurple;
}

/*==============EndSection2============*/



/*==============Footer============*/
.btn{
    background:#7971ea;
    color: white;
    border-radius: 5px;
}
.btn:hover{
    color: white;
    transform: scale(1.01);
    transition: 1s;
}
/*==============EndFooter============*/
@media only screen and (max-width: 992px) {
    .card{
        margin-top: 25px;
    }
}

@media only screen and (max-width: 992px) {
    .blog{
        width: 400px;
        margin-bottom: 25px;
    }
}
